# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Pythons

# Virtual environment
venv/
env/a
.env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# NLTK data
nltk_data/

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
